        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        
        body {
            margin: auto;
            background: linear-gradient(#0000006e, #0000006e), url(../assets/running-HD.jpg) center center/cover no-repeat fixed;
            font-size: medium;
        }

        .container {
            color: #2B2929;
            display: flex;
            flex-direction: column;
            margin: 5% auto;
            text-align: center;
            width: 30%;
            padding: 10px;
            text-align: center;
            background: linear-gradient( -128deg, #D79719 33%, #C0237C 88%, #A20C75 100%);
            border-radius: 6px;
        }
        
        h1 {
            text-align: center;
            color: #2B2929;
        }
        
        
        /* .sub-container {
            margin: 5px;
        } */

        label {
            margin-right: 10px;
            vertical-align: middle;
        }
        
        input {
            border-radius: 4px;
            background-color: #f5f1e5;
            text-align: right;
            resize: vertical;
        }
        
        #calculate,
        #back {
            padding: 3px;
            border-radius: 5px;
            background: #f5f1e5;
            width: 80%;
            text-transform: uppercase;
            text-align: center;
            font-weight: 900;
            color: rgb(69, 23, 196);
        }
        
        #calculate:hover {
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
            -webkit-transition: 1.5s;
            transition: 1.5s;
        }
        
        #Activity option {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #f5f1e5;
            /* width: 85%; */
            overflow: auto;
        }

        
        .results {
            color: #2B2929;
            display: flex;
            flex-direction: column;
            margin: auto;
            text-align: center;
            border: 1px solid grey;
            width: 50%;
            padding: 5px;
            text-align: center;
            background: linear-gradient( -128deg, #D79719 33%, #C0237C 88%, #A20C75 100%);
            border-radius: 6px;
            display: none;
        }
        
        table {
            display: table;
            border-collapse: separate;
            white-space: normal;
            line-height: normal;
            font-weight: normal;
            font-size: larger;
            font-style: normal;
            text-align: start;
            border-spacing: 2px;
            border-color: grey;
            font-variant: normal;
            margin: auto;
        }
        
        .arrow_box {
            position: relative;
            background: #e3edda;
            border: 1px solid #aaa;
            padding: 3px 8px;
            text-align: center;
        }
        
        .result_box {
            background: #e3edda;
            border: 1px solid #8db46d;
            padding: 3px 8px;
            text-align: center;
        }
        
        .kg {
            color: #888;
            font-size: small;
        }
        
        .cl {
            color: #888;
            font-size: small;
        }
        
        .smalltext {
            color: #888;
            font-size: small;
        }