// asigning variables

$gradientColor: linear-gradient(
    -128deg,
    (#D79719) 3%,
    (#C0237C) 88%,
    (#A20C75) 100%
);

$orange: #da621e;

$creamWhite: #f5f1e5;

$cyanBlue: #03b1cf;

$black: #000000;

@mixin backgroundDesktop{
    background: linear-gradient(
        (#00000065),
        (#00000065)),
        url(../assets/running-HD.jpg) center center / cover no-repeat fixed
    ;
    background-color: $gradientColor;
}

@mixin backgroundMobile{
    background: linear-gradient(
        (#00000033),
        (#00000033)),
        url(../assets/running-HD-mobile.jpg) center center / cover no-repeat fixed;
    ;
    background-color: $gradientColor;
}

@mixin header {
    display: flex;
    // justify-content: center;
    margin: auto;
    max-width: 100%;
    background: $creamWhite;

    .inn-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        margin: auto;
        min-height: 8vh;
        background: $creamWhite;
        font-family: 'Poppins', sans-serif;
    }
}

@mixin navLinks {
    display: flex;
    justify-content: space-between;
    width: 20%;
    text-align: center;
    vertical-align: middle;
    margin: 0;
  
    li {
      list-style: none;
      padding: 20px 0;
        &:hover {
            transform: scale(1.4);
            transition: 1.5s;
        }
    }
  
    a {
        display: flex;
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 14px;
        cursor: pointer;
    }
}

//  SCSS/CSS styling
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    @include backgroundDesktop();
    color: $creamWhite;
}

//white nav

.main-header {
    @include header();
}

.logo {
  color: $black;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5px;
  font-size: 25px;
  width: 20%;
}

.nav-links {
    @include navLinks();
    a {
        color: $orange;
    }
}

//orange nav

.links-header {
    display: flex;
    justify-content: center;
    max-width: 100%;
    background: $orange;
}

.profile-links {
    @include navLinks();
    width: 70%;
    margin: auto;
    // justify-content: center;
    font-family: 'Poppins', sans-serif;
    a {
        color: $creamWhite;
    }
}

.container1 {
    margin: 40px 0 10px 0;
}

h1 {
    color: #f5f1e5;
    font-family: 'Oswald', sans-serif;
}

.container-members {
    font-family: 'Oswald', sans-serif;
    border: 2px solid #f5f1e5;
}

#ingredient {
    color: #383838;
}

h2 {
    color: #f5f1e5;
    font-family: 'Oswald', sans-serif;
}

.container-recipes {
    display: flex;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    border: 2px solid #f5f1e5;
    font-size: large;
    margin: 5% auto;
    padding: 0 15px;
    width: 80%;
}

#retrieveRecipes {
    color: #c7520f65;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}

#recipesReturned {
    display: flex;
    flex-direction: column;
    align-items: center;
}
// h2.member-name {
//     color: #000000;
//     font-family: 'Oswald', sans-serif;
// }

.container {
    font-family: 'Oswald', sans-serif;
    font-size: large;
    margin: 5% auto;
    padding: 0 15px;
    width: 80%;
}

.container-members {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    margin: 5% auto;
    padding: 0 15px;
    width: 80%;
    text-align: center;
}


///Workout css
.heading {
    color:$creamWhite;
}


.media {
    display: flex;
    justify-content: space-around;
}
  
.media-body {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 10px;
    /* left: 100px; */
    width: 30%;
}
  
img {
    .media-object {
        max-width: 100%;
        max-height: 100%;
     }
}
  
.media-left {
    width: 60px;
    height: 60px;
}
  
.media-heading {
    /* padding-left: 20px; */
    text-align: center;
    color: #c7520f;
    width: 100%
}
  
.text-muted {
    /* padding-left: 20px; */
    font-size: 15px;
    text-align: center;
}
  /*# sourceMappingURL=members.css.map */
  
  /* tabs exercise section workout page */
  
.tabs {
/* border: 1px solid #cccccc; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%
}
  
.inner-box {
    border-radius: 5px;
}
  
.tabs__sidebar {
    display: flex;
    width: 100%;
    flex-shrink: 0;
    // background: #ffd194;
}
  
.tabs__btn {
    // display: block;
    color: #f5f1e5;
    padding: 10px;
    background: #c7520f86;
    /* border: 2px solid blueviolet;
    border-radius: 5px; */
    width: 100%;
    outline: none;
    cursor: pointer;
    

    &:active{
        background: #dddddd;
    }
    &:not(:last-of-type) {
        // border-bottom: 1px solid #d40a0a;
    }
}

// .tabs__btn:active {
//     background: #dddddd;
//     /* border-radius: 5px; */
// }
  
// .tabs__btn:not(:last-of-type) {
//     border-bottom: 1px solid #cccccc;
//     /* border-radius: 5px; */
// }

.tabs__btn--active {
    font-weight: bold;
    // border-right: 2px solid #009879;
    border-radius: 5px;
    // background: #dddddd;
}

.tabs__content {
    /* padding: 15px; */
    font-size: 0.8rem;
    display: none;
}

.tabs__content--active {
    display: block;
}

.tabs__content > :first-child {
    margin-top: 0;
}

.list-group-item {
    background-color: #effeffd5;
}

.tab__sidebar {
width: 100%;
}

@media screen and (max-width: 600px) {
    .tabs__sidebar {
        flex-wrap: wrap;
    }
}