* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    background-image: url(../assets/running-HD.jpg);
    font-size: large;
}

h1 {
    text-align: center;
    color: rgb(65, 63, 63);
}

.container {
    display: flex;
    flex-direction: column;
    margin: 10% auto;
    text-align: center;
    border: 1px solid grey;
    width: 50%;
    padding: 25px;
    text-align: center;
    background: linear-gradient( -128deg, #D79719 3%, #C0237C 88%, #A20C75 100%);
    border-radius: 6px;
}

.sub-container {
    margin: 10px;
    padding: 10px,
}