$gradientColor: linear-gradient(
    -128deg,
    (#D79719) 3%,
    (#C0237C) 88%,
    (#A20C75) 100%
);

$orange: #da621e;

$creamWhite: #f5f1e5;

$cyanBlue: #03b1cf;

$black: #000000;

@mixin backgroundDesktop{
    background: linear-gradient(
        (#00000065),
        (#00000065)),
        url(../assets/running-HD.jpg) center center / cover no-repeat fixed
    ;
    background-color: $gradientColor;
}

@mixin backgroundMobile{
    background: linear-gradient(
        (#00000033),
        (#00000033)),
        url(../assets/running-HD-mobile.jpg) center center / cover no-repeat fixed;
    ;
    background-color: $gradientColor;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

// form.signup,
// form.login {
//   margin-top: 50px;
// }

body {
  @include backgroundDesktop();
  color: $creamWhite;
}

.main-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 8vh;
  background: $creamWhite;
  font-family: 'Poppins', sans-serif;
}

.logo {
  color: $orange;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 25px;
  width: 45%;
}

.container {
  font-family: 'Oswald', sans-serif;
  margin: 5% auto;
  padding: 0 15px;
  width: 70%;
}

.row {
  margin: auto;
}

h2 {
  color: $creamWhite;
}

label {
  color: $creamWhite;
  font-size: 20px;
}

.btn {
 outline: none;
 text-decoration: none;
}

p {
  font-size: 20px;
}

// linear-gradient(#0000006e,#0000006e), url(../assets/running-HD.jpg) center center / cover no-repeat fixed;